.nav-link {
  position: relative;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: -0.25rem;
  height: 1px;
  background-color: #22c55e; /* green-500 */
  border-radius: 9999px;
}
