<section class="relative z-10 max-w-4xl mx-auto px-6">

    <h2 class="text-4xl font-bold font-sono">
        Github Heatmap
    </h2>


    <div class="mt-5 mb-10 flex justify-center bg-black rounded-xl p-4">

        <img
            class="
                w-full
                max-w-4xl
                max-sm:max-w-[380px]
                rounded-xl
                invert
                hue-rotate-180
            "
            src="https://ghchart.rshah.org/22c55e/DumbTempest"
            alt="GitHub Contribution Heatmap"
        />

    </div>

</section>