<!-- TODO: Add a theme toggle button that switches between light and dark modes 
TODO: Rmove unnecessary tailwind classes -->
<nav class="fixed top-6 inset-x-0 z-20 flex justify-center">
  <div class="
      flex items-center gap-2 px-10 py-2
      bg-black backdrop-blur-xl
      rounded-xl
      border border-white
      shadow-lg shadow-black/40
      font-sono
    ">

    <a href="/" class="
        btn btn-ghost
        px-4 py-2 rounded-full
        text-sm font-medium
        hover:text-white
        hover:bg-gray-300/10
        text-blue-400
      ">
      Home
    </a>

    <a href="/projects/" class="
        btn btn-ghost
        px-4 py-2 rounded-full
        text-sm font-medium
        text-gray-300 hover:text-white
        hover:bg-gray-300/10
        text-green-500
      ">
      Projects
    </a>

    <a href="/" class="
        btn btn-ghost
        px-4 py-2 rounded-full
        text-sm font-medium
        text-gray-300 hover:text-white
        hover:bg-gray-300/10
        text-yellow-500
      ">
      Contact
    </a>

    <a href="/" class="
        btn btn-ghost
        hidden md:inline-flex
        px-3 py-1.5 md:px-4 md:py-2
        rounded-full
        text-sm
        font-medium
        text-gray-300 hover:text-white
        hover:bg-gray-300/10
        text-red-500
      ">
      Resume
    </a>

  </div>
</nav>
