<section class="relative z-10 max-w-3xl mx-auto px-6 ">

  <!-- Heading -->
  <div class="mb-4">
    <h2 class="text-4xl font-bold font-sono">
      Skills <span class="text-white/40 text-lg font-normal">Which I use / know</span>
    </h2>
    <p class="mt-2 text-white/60 max-w-2xl">
      These are the technologies I’ve learned and worked with. This list keeps evolving as I grow.
    </p>
  </div>

  <!-- langs -->
  <div class="mb-6">
    <p class="mb-3 text-white/50 tracking-widest text-sm font-sono">&lt; LANGUAGES /&gt;</p>
    <div class="flex flex-wrap gap-3">
      <span class="skill-pill flex items-center gap-2"><span class="iconify text-lg" data-icon="logos:javascript"></span>JavaScript</span>
      <span class="skill-pill flex items-center gap-2"><span class="iconify text-lg" data-icon="logos:typescript-icon"></span>TypeScript</span>
      <span class="skill-pill flex items-center gap-2"> <span class="iconify" data-icon="logos:go"></span> Go </span>
      <span class="skill-pill flex items-center gap-2"><span class="iconify text-lg" data-icon="logos:c"></span>C</span>
      <span class="skill-pill flex items-center gap-2"><span class="iconify text-lg" data-icon="logos:c-plusplus"></span>C++</span>
      <span class="skill-pill flex items-center gap-2"><span class="iconify text-lg" data-icon="logos:html-5"></span>HTML</span>
      <span class="skill-pill flex items-center gap-2"><span class="iconify text-lg" data-icon="logos:css-3"></span>CSS</span>
    </div>
  </div>

  <!-- Fw/libs -->
  <div class="mb-6">
    <p class="mb-3 text-white/50 tracking-widest text-sm font-sono">&lt; FRAMEWORKS / LIBRARIES /&gt;</p>
    <div class="flex flex-wrap gap-3">
      <span class="skill-pill flex items-center gap-2"><span class="iconify text-lg" data-icon="logos:react"></span>React</span>
      <span class="skill-pill flex items-center gap-2"><span class="iconify text-lg" data-icon="logos:nextjs-icon"></span>Next.js</span>
      <span class="skill-pill flex items-center gap-2">
        <!-- <span class="iconify text-lg" data-icon="logos:express"></span> -->
      Express.js</span>
      <span class="skill-pill flex items-center gap-2"><span class="iconify text-lg" data-icon="logos:tailwindcss-icon"></span>TailwindCSS</span>
      <span class="skill-pill flex items-center gap-2"><span class="iconify text-lg" data-icon="logos:tanstack-icon"></span>TanStack Query</span>
      <span class="skill-pill flex items-center gap-2">
        <!-- <span class="iconify text-lg" data-icon="logos:framer"></span> -->
      Framer Motion</span>
      <span class="skill-pill flex items-center gap-2"><span class="iconify text-lg" data-icon="logos:greensock-icon"></span>GSAP</span>
    </div>
  </div>

  <!-- backend -->
  <div class="mb-6">
    <p class="mb-3 text-white/50 tracking-widest text-sm font-sono">&lt; BACKEND &amp; RUNTIME /&gt;</p>
    <div class="flex flex-wrap gap-3">
      <span class="skill-pill flex items-center gap-2"><span class="iconify text-lg" data-icon="logos:nodejs-icon"></span>Node.js</span>
    </div>
  </div>

  <!-- db -->
  <div class="mb-6">
    <p class="mb-3 text-white/50 tracking-widest text-sm font-sono">&lt; DATABASE /&gt;</p>
    <div class="flex flex-wrap gap-3">
      <span class="skill-pill flex items-center gap-2"><span class="iconify text-lg" data-icon="logos:mongodb-icon"></span>MongoDB</span>
    </div>
  </div>

  <!-- tools -->
  <div>
    <p class="mb-3 text-white/50 tracking-widest text-sm font-sono">&lt; DEVELOPER TOOLS /&gt;</p>
    <div class="flex flex-wrap gap-3">
      <span class="skill-pill flex items-center gap-2"><span class="iconify text-lg" data-icon="logos:git-icon"></span>Git</span>
      <span class="skill-pill flex items-center gap-2"><span class="iconify text-lg" data-icon="logos:github-icon"></span>GitHub</span>
      <span class="skill-pill flex items-center gap-2"><span class="iconify text-lg" data-icon="logos:visual-studio-code"></span>VS Code</span>
      <span class="skill-pill flex items-center gap-2 "><span class="iconify text-lg bg-white text-white" data-icon="logos:vercel-icon"></span>Vercel</span>
      <span class="skill-pill flex items-center gap-2"><span class="iconify text-lg" data-icon="logos:postman-icon"></span>Postman</span>
    </div>
  </div>

</section>